
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    color: white;
}
section{
    display: flex;
}
article{
    background-color: rgb(21, 21, 21);
    padding: 20px;
    width: 55%;
}
aside{
    width: 45%;
    background-color: rgb(21, 21, 21);
}

span {
    display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}